@page "/logout"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavMan

<PageTitle>Log out</PageTitle>

<h3>Log out</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavMan.NavigateTo("/", true);
    }
}
